on property:sys.boot_completed=1
	# First boot default
	exec u:r:init:s0 root root -- /init.spectrum.sh
	exec u:r:su:s0 root root -- /init.spectrum.sh

	# Enable spectrum
	setprop spectrum.support 1
	setprop persist.spectrum.kernel Velocity

# Balanced (default)
on property:persist.spectrum.profile=0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor electroutil
	write /sys/module/autosmp/parameters/enabled 1
	write /sys/kernel/autosmp/conf/min_cpus 1
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2208000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200

# Performance
on property:persist.spectrum.profile=1
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
	write /sys/module/autosmp/parameters/enabled 0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2400000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1804800

# Battery
on property:persist.spectrum.profile=2
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
	write /sys/module/autosmp/parameters/enabled 1
	write /sys/kernel/autosmp/conf/min_cpus 1
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1958400
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200

# Gaming
on property:persist.spectrum.profile=3
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor intelliactive
	write /sys/module/autosmp/parameters/enabled 1
	write /sys/module/autosmp/conf/min_cpus 4
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2400000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1401600
