on late-fs
	# boot time fs tune
	write /sys/block/mmcblk0/queue/iostats 0
	write /sys/block/mmcblk0/queue/scheduler bfq
	write /sys/block/mmcblk0/queue/iosched/slice_idle 0
	write /sys/block/mmcblk0/queue/read_ahead_kb 2048
	write /sys/block/mmcblk0/queue/nr_requests 384
	write /sys/block/mmcblk0/queue/add_random 0
	write /sys/block/dm-0/queue/read_ahead_kb 2048
	write /sys/block/dm-1/queue/read_ahead_kb 2048

on boot
	setprop sys.use_fifo_ui 1

on property:sys.boot_completed=1
	# Sound
	write /sys/kernel/sound_control/headphone_gain -10 -10

	# Block
	write /sys/block/mmcblk0/queue/scheduler deadline
	write /sys/block/mmcblk0/queue/nr_requests 256
	write /sys/block/mmcblk0/queue/read_ahead_kb 512
	write /sys/block/mmcblk0/queue/scheduler deadline
	write /sys/block/mmcblk0/queue/nr_requests 256
	write /sys/block/mmcblk1/queue/read_ahead_kb 512
	write /sys/block/mmcblk1/queue/add_random 0
