on property:sys.boot_completed=1
	# First boot default
	exec u:r:init:s0 root root -- /init.spectrum.sh
	exec u:r:su:s0 root root -- /init.spectrum.sh

	# Enable spectrum
	setprop spectrum.support 1
	setprop persist.spectrum.kernel Velocity

# Balanced (default)
on property:persist.spectrum.profile=0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor helix_schedutil
	write /sys/devices/system/cpu/cpufreq/helix_schedutil/up_rate_limit_us 550
	write /sys/devices/system/cpu/cpufreq/helix_schedutil/down_rate_limit_us 4200
	write /sys/devices/system/cpu/cpufreq/helix_schedutil/target_load2 68
	write /sys/devices/system/cpu/cpufreq/helix_schedutil/target_load1 32
	write /sys/devices/system/cpu/cpufreq/helix_schedutil/bit_shift1 8
	write /sys/devices/system/cpu/cpufreq/helix_schedutil/bit_shift2 5
	write /sys/module/autosmp/parameters/enabled 0
	write /sys/module/lazyplug/parameters/lazyplug_active 1
	write /sys/module/lazyplug/parameters/nr_run_profile_sel 0
	write /sys/module/lazyplug/parameters/touch_boost_active 0
	write /sys/module/lazyplug/parameters/cpu_nr_run_threshold 1000
	write /sys/module/lazyplug/parameters/nr_possible_cores 8
	write /sys/module/lazyplug/parameters/nr_run_hysteresis 10
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2208000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
	write /sys/kernel/gpu/gpu_max_clock 682
	write /sys/kernel/gpu/gpu_min_clock 133
	write /sys/kernel/gpu/gpu_governor microfreq

# Performance
on property:persist.spectrum.profile=1
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor intelliactive
	write /sys/module/autosmp/parameters/enabled 0
	write /sys/module/lazyplug/parameters/lazyplug_active 1
	write /sys/module/lazyplug/parameters/nr_run_profile_sel 1
	write /sys/module/lazyplug/parameters/nr_run_hysteresis 16
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2400000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1804800
	write /sys/kernel/gpu/gpu_max_clock 855
	write /sys/kernel/gpu/gpu_min_clock 320
	write /sys/kernel/gpu/gpu_governor microfreq

# Battery
on property:persist.spectrum.profile=2
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkness
	write /sys/module/autosmp/parameters/enabled 1
	write /sys/module/lazyplug/parameters/lazyplug_active 0
	write /sys/kernel/autosmp/conf/min_cpus 1
	write /sys/kernel/autosmp/conf/cycle_down 2
	write /sys/kernel/autosmp/conf/cycle_up 4
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1689600
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
	write /sys/kernel/gpu/gpu_max_clock 320
	write /sys/kernel/gpu/gpu_min_clock 133
	write /sys/kernel/gpu/gpu_governor msm-adreno-tz
	write /sys/kernel/autosmp/conf/max_cpus 5
	write /sys/kernel/autosmp/conf/cpufreq_down 90
	write /sys/kernel/autosmp/conf/cpufreq_up 10
	write /sys/kernel/autosmp/conf/delay 100

# Gaming
on property:persist.spectrum.profile=3
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor intelliactive
	write /sys/module/autosmp/parameters/enabled 0
	write /sys/module/lazyplug/parameters/lazyplug_active 1
	write /sys/module/lazyplug/parameters/nr_run_profile_sel 1
	write /sys/module/lazyplug/parameters/nr_run_hysteresis 16
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2400000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1401600
	write /sys/kernel/gpu/gpu_max_clock 855
	write /sys/kernel/gpu/gpu_min_clock 455
	write /sys/kernel/gpu/gpu_governor performance
