--- drivers/usb/musb/Kconfig
+++ drivers/usb/musb/Kconfig
@@ -140,7 +140,7 @@ config USB_TI_CPPI_DMA
 
 config USB_TI_CPPI41_DMA
 	bool 'TI CPPI 4.1 (AM335x)'
-	depends on ARCH_OMAP && DMADEVICES
+	depends on ARCH_OMAP
 	select TI_CPPI41
 
 config USB_TUSB_OMAP_DMA
